@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");
@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.font-poppins {
  font-family: "Poppins", serif;
}

.section-title {
  font-family: var(--second-family);
  font-weight: 800;
  text-align: center;
  color: #323A56;
  font-family: "Inter", sans-serif;
}

.section-title span{
  color: #1d72d2;
}

@media(max-width: 1024px){
  .section-title{
font-size: 34px;
  }
}

.card-linear{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15.62%, rgba(32, 81, 137, 0.9) 100%);
}
